<widget
  id="com.tuempresa.miapp"
  version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Mi App</name>

  <platform name="android">

    <!-- Cámara (incluye flash) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Flash como hardware opcional -->
    <uses-feature
      android:name="android.hardware.camera.flash"
      android:required="false" />

  </platform>

</widget>
